<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.project.mapper.ProjectMemberViewMapper">

    <select id="selectAllByProjectIdx" parameterType="Integer" resultType="ProjectMemberViewVO">
        SELECT pm.idx as project_member_idx,
               pm.project_idx,
               m.idx as member_idx,
               psm.idx as partnership_member_idx,
               m.email,
               m.name,
               pm.type_cd,
               psm.state_cd,
               psm.profile_image_url,
               psm.profile_image_path
        FROM project_member pm
        JOIN partnership_member psm on pm.partnership_member_idx = psm.idx
        JOIN member m on psm.member_idx = m.idx
        WHERE pm.project_idx = #{projectIdx}
          AND pm.delete_date IS NULL
    </select>
</mapper>