<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.project.mapper.ProjectMapper">
    <insert id="insertByProjectVO" parameterType="ProjectVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO project (
            partnership_idx,
            project_category_idx,
            title,
            description,
            status_cd,
            node_cnt,
            edge_cnt,
            update_date,
            create_date
        ) VALUES (
            #{partnershipIdx},
            #{projectCategoryIdx},
            #{title},
            #{description},
            #{statusCd},
            0,
            0,
            now(),
            now()
        )
        <selectKey resultType="int" keyProperty="idx" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectByProjectCategoryIdxAndProjectIdx" resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE idx = #{projectIdx}
        AND project_category_idx = #{projectCategoryIdx}
    </select>

    <delete id="deleteByProjectCategoryIdxAndProjectIdx">
        DELETE FROM project
        WHERE idx = #{projectIdx}
          AND project_category_idx = #{projectCategoryIdx}
    </delete>

    <select id="countByProjectCategoryIdx" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*) FROM project
        WHERE project_category_idx = #{idx}
    </select>

    <select id="selectAllByProjectCategoryIdx" parameterType="Integer" resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE project_category_idx = #{projectCategoryIdx}
        AND delete_date is null
    </select>

    <select id="selectAllByProjectCategoryIdxAndPartnerShipIdx"  resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE project_category_idx = #{projectCategoryIdx}
          AND partnership_idx = #{partnershipIdx}
          AND delete_date is null
        <if test="pageable != null and pageable.sort != null">
            ORDER BY
            <foreach collection="pageable.sort.orders" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <update id="updateProjectCategoryIdxByProjectVO" parameterType="ProjectVO">
        UPDATE project
        SET project_category_idx = #{projectCategoryIdx}
        WHERE idx = #{idx}
    </update>

    <update id="deleteByIdx" parameterType="Integer">
        UPDATE FROM project
        SET delete_date = now()
        WHERE idx = #{idx}
    </update>

    <select id="selectByIdx" parameterType="Integer" resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE idx = #{idx}
    </select>

    <select id="selectAllByProjectId" resultType="ProjectVO">
        SELECT *
        FROM project
        WHERE partnership_idx = #{projectId.partnershipIdx}
        AND project_category_idx = #{projectId.projectCategoryIdx}
        <if test="pageable.sort != null and !pageable.sort.empty">
            ORDER BY
            <foreach item="order" collection="pageable.sort" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <select id="countAllByProjectId" parameterType="ProjectVO" resultType="Integer">
        SELECT COUNT(*)
        FROM project
        WHERE partnership_idx = #{partnershipIdx}
        AND project_category_idx = #{projectCategoryIdx}
    </select>
</mapper>