<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.project.mapper.ProjectMemberMapper">

    <insert id="insertByProjectMemberVO" parameterType="ProjectMemberVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO em_saas.project_member (
            project_idx,
            partnership_member_idx,
            type_cd,
            disable_functions,
            update_date,
            create_date
        ) VALUES (
            #{projectIdx},
            #{partnershipMemberIdx},
            #{typeCd},
            #{disableFunctions},
            now(),
            now()
        )

        <selectKey resultType="int" keyProperty="idx" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectAllByProjectIdx" parameterType="Integer" resultType="ProjectMemberVO">
        SELECT
            *
        FROM em_saas.project_member
        WHERE project_idx = #{projectIdx}
    </select>

    <select id="selectByProjectIdxAndPartnershipMemberIdx" resultType="ProjectMemberVO">
        SELECT
            *
        FROM em_saas.project_member
        WHERE project_idx = #{projectIdx}
          AND partnership_member_idx = #{partnershipMemberIdx}
    </select>
</mapper>