<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.category.mapper.ProjectCategoryMapper">
    <insert id="insertByProjectCategoryVO" parameterType="ProjectCategoryVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO project_category (
            partnership_idx,
            name,
            sort,
            update_date,
            create_date
        ) VALUES (
            #{partnershipIdx},
            #{name},
            #{sort},
            now(),
            now()
        )
        <selectKey resultType="int" keyProperty="idx" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <select id="selectAllByPartnershipIdx" parameterType="Integer" resultType="ProjectCategoryVO">
        SELECT
            *
        FROM project_category
        WHERE partnership_idx = #{partnershipIdx}
    </select>

    <update id="updateByProjectCategoryVO" parameterType="ProjectCategoryVO">
        UPDATE project_category
        SET
            name = #{name},
            sort = #{sort},
            update_date = now()
        WHERE idx = #{idx}
    </update>

    <delete id="deleteByIdx" parameterType="Integer">
        DELETE FROM project_category
        WHERE idx = #{idx}
    </delete>
</mapper>