<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.project.mapper.ProjectMapper">
<!--    프로젝트 생성-->
    <insert id="insertByProjectVO" parameterType="ProjectVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO project (
            partnership_idx,
            project_category_idx,
            title,
            description,
            status_cd,
            node_cnt,
            edge_cnt,
            update_date,
            create_date
        ) VALUES (
            #{partnershipIdx},
            #{projectCategoryIdx},
            #{title},
            #{description},
            #{statusCd},
            #{nodeCnt},
            #{edgeCnt},
            now(),
            now()
        )
        <selectKey resultType="Integer" keyProperty="idx" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
<!--    프로젝트 수정-->
    <update id="updateByProjectVO" parameterType="ProjectVO">
        UPDATE project
            SET title = #{title},
                description = #{description},
                status_cd = #{statusCd},
                node_cnt = #{nodeCnt},
                edge_cnt = #{edgeCnt},
                update_date = now()
        WHERE idx = #{idx}
    </update>
<!--    프로젝트 삭제 처리(삭제일 업데이트)-->
    <update id="updateByDeleteDate">
        UPDATE project
            SET delete_date = now()
        WHERE idx = #{projectIdx}
    </update>
<!--카테고리별 파트너쉽 구성원에 포함되어 있는 프로젝트 총 개수 조회-->
    <select id="countAllByProjectCategoryIdxAndPartnershipMemberIdx" parameterType="Integer" resultType="Integer">
        SELECT
            COUNT(*)
        FROM project a
        INNER JOIN project_member b
        ON a.idx = b.project_idx
        <choose>
            <when test="projectCategoryIdx == null">
                WHERE a.project_category_idx IS NULL
            </when>
            <otherwise>
                WHERE a.project_category_idx = #{projectCategoryIdx}
            </otherwise>
        </choose>
        AND b.partnership_member_idx = #{partnershipMemberIdx}
    </select>
<!--파트너쉽 구성원에 포함되어 있는 프로젝트 총 개수 조회-->
    <select id="countAllByPartnershipMemberIdx" parameterType="Integer" resultType="Integer">
        SELECT
            count(*)
        FROM project_member
        WHERE partnership_member_idx = #{partnershipMemberIdx}
    </select>

    <select id="selectAllByProjectCategoryIdx" parameterType="Integer" resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE project_category_idx = #{projectCategoryIdx}
        AND delete_date is null
    </select>

    <select id="selectAllByProjectCategoryIdxAndPartnerShipIdx"  resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE project_category_idx = #{projectCategoryIdx}
          AND partnership_idx = #{partnershipIdx}
          AND delete_date is null
        <if test="pageable != null and pageable.sort != null">
            ORDER BY
            <foreach collection="pageable.sort.orders" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>

    <update id="updateProjectCategoryIdxByProjectVO" parameterType="ProjectVO">
        UPDATE project
        SET project_category_idx = #{projectCategoryIdx}
        WHERE idx = #{idx}
    </update>

    <select id="selectByIdx" parameterType="Integer" resultType="ProjectVO">
        SELECT
            *
        FROM project
        WHERE idx = #{idx}
    </select>
<!--파트너쉽&카테고리&프로젝트 구성원에 포함된 목록 조회-->
    <select id="selectAllBySearchProjectListAndPartnershipMemberIdx" resultType="ProjectVO">
        SELECT *
        FROM project p
        INNER JOIN project_member pm ON pm.project_idx = p.idx
        WHERE p.partnership_idx = #{searchProject.partnershipIdx}
        AND p.delete_date IS NULL
        <choose>
            <when test="searchProject.searchType != null and searchProject.searchType.name().equals('category')">
                AND p.project_category_idx = #{searchProject.projectCategoryIdx}
            </when>
            <when test="searchProject.searchType != null and searchProject.searchType.name().equals('empty')">
                AND p.project_category_idx IS NULL
            </when>
        </choose>
        AND pm.partnership_member_idx = #{partnershipMemberIdx}
        <if test="pageable.sort != null and !pageable.sort.empty">
            ORDER BY
            <foreach item="order" collection="pageable.sort" separator=",">
                p.${order.property} ${order.direction}
            </foreach>
        </if>
        LIMIT #{pageable.pageSize} OFFSET #{pageable.offset}
    </select>
<!--파트너쉽&카테고리&프로젝트 구성원에 포함된 총 개수 조회-->
    <select id="countAllBySearchProjectListAndPartnershipMemberIdx" resultType="Integer">
        SELECT COUNT(*)
        FROM project p
        INNER JOIN project_member pm ON pm.project_idx = p.idx
        WHERE p.partnership_idx = #{searchProject.partnershipIdx}
        AND p.delete_date IS NULL
        <choose>
            <when test="searchProject.searchType != null and searchProject.searchType.name().equals('category')">
                AND p.project_category_idx = #{searchProject.projectCategoryIdx}
            </when>
            <when test="searchProject.searchType != null and searchProject.searchType.name().equals('empty')">
                AND p.project_category_idx IS NULL
            </when>
        </choose>
        AND pm.partnership_member_idx = #{partnershipMemberIdx}
    </select>
</mapper>