<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.partnership.mapper.PartnershipMemberMapper">

    <insert id="insertByPartnershipMember" parameterType="PartnershipMemberVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO partnership_member(
            partnership_idx,
            partnership_team_idx,
            member_idx,
            partnership_position_idx,
            manager_cd,
            state_cd,
            profile_image_url,
            profile_image_path,
            disable_functions,
            update_date,
            create_date
        ) VALUES (
                     #{partnershipIdx},
                     #{partnershipTeamIdx},
                     #{memberIdx},
                     #{partnershipPositionIdx},
                     #{managerCd},
                     #{stateCd},
                     #{profileImageUrl},
                     #{profileImagePath},
                     #{disableFunctions},
                     now(),
                     now()
                 )
    </insert>

    <select id="isMemberManagerOfPartnership" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM partnership_member
        WHERE partnership_idx = #{partnershipIdx}
          AND member_idx = #{memberIdx}
          AND manager_cd = 'PST0001'
    </select>

    <select id="selectByPartnershipIdxAndMemberIdx" resultType="PartnershipMemberVO">
        SELECT
            idx,
            partnership_idx,
            partnership_team_idx,
            member_idx,
            partnership_position_idx,
            manager_cd,
            state_cd,
            profile_image_url,
            profile_image_path,
            phone,
            disable_functions,
            update_date,
            create_date
        FROM partnership_member
        WHERE member_idx = #{memberIdx}
          AND partnership_idx = #{partnershipIdx}
    </select>

    <select id="isDuplicateMemberByEmail" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM partnership_member pm
                 JOIN member m ON pm.member_idx = m.idx
        WHERE pm.partnership_idx = #{partnershipIdx}
          AND m.email = #{email}
    </select>

    <update id="updatePositionIdxAndPhoneByIdx">
        UPDATE partnership_member
        <set>
            <if test="positionIdx != null">
                partnership_position_idx = #{positionIdx},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
        WHERE idx = #{idx}
    </update>

    <update id="updateProfileImageByIdx">
        UPDATE partnership_member
            profile_image_url = #{profileImageUrl},
            profile_image_path = #{profileImagePath},
        WHERE idx = #{idx}
    </update>

    <select id="selectByIdx" resultType="PartnershipMemberVO">
        SELECT
            idx,
            partnership_idx,
            partnership_team_idx,
            member_idx,
            partnership_position_idx,
            manager_cd,
            state_cd,
            profile_image_url,
            profile_image_path,
            phone,
            disable_functions,
            update_date,
            create_date
        FROM partnership_member
        WHERE idx = #{idx}
    </select>

    <update id="updatePartnershipMemberStateByIdx">
        UPDATE partnership_member
        SET state_cd = #{stateCd}
        WHERE idx = #{idx}
    </update>

    <select id="selectAllByPartnershipIdx" resultType="PartnershipMemberVO">
        SELECT
            idx,
            partnership_idx,
            partnership_team_idx,
            member_idx,
            partnership_position_idx,
            manager_cd,
            state_cd,
            profile_image_url,
            profile_image_path,
            phone,
            disable_functions,
            update_date,
            create_date
        FROM partnership_member
        WHERE partnership_idx = #{partnershipIdx}
    </select>

    <select id="selectByProjectIdx" resultType="PartnershipMemberVO">
        SELECT
            pm2.*
        FROM project_member pm
                 LEFT JOIN partnership_member pm2 ON pm.partnership_member_idx = pm2.partnership_idx
                 LEFT JOIN member m  ON pm2.member_idx = m.idx
        WHERE pm.project_idx = #{ProjectIdx};
    </select>

    <update id="updatePartnershipMemberManagerCdByIdx">
        UPDATE partnership_member
        SET manager_cd = #{managerCd},
            update_date = now()
        WHERE idx = #{idx}
    </update>

    <select id="countByPartnershipIdxAndNotStateCd" resultType="int">
        SELECT COUNT(*)
        FROM partnership_member
        WHERE partnership_idx = #{partnershipIdx}
          AND state_cd != #{code}
    </select>

</mapper>