<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.partnership.mapper.PartnershipMemberMapper">

    <insert id="insertByPartnershipMember" parameterType="PartnershipMemberVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO partnership_member(
            partnership_idx,
            partnership_team_idx,
            member_idx,
            partnership_position_idx,
            manager_cd,
            state_cd,
            profile_image_url,
            profile_image_path,
            disable_functions,
            update_date,
            create_date
        ) VALUES (
            #{partnershipIdx},
            #{partnershipTeamIdx},
            #{memberIdx},
            #{partnershipPositionIdx},
            #{managerCd},
            #{stateCd},
            #{profileImageUrl},
            #{profileImagePath},
            #{disableFunctions},
            now(),
            now()
        )
    </insert>

    <select id="isMemberManagerOfPartnership" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM partnership_member
        WHERE partnership_idx = #{partnershipIdx}
          AND member_idx = #{memberIdx}
          AND manager_cd = 'PST0001'
    </select>

    <select id="selectPartnershipMemberByMemberIdx" resultType="PartnershipMemberVO">
        SELECT
            idx,
            partnership_idx,
            partnership_team_idx,
            member_idx,
            partnership_position_idx,
            manager_cd,
            state_cd,
            profile_image_url,
            profile_image_path,
            phone,
            disable_functions,
            update_date,
            create_date
          FROM partnership_member
         WHERE member_idx = #{memberIdx}
           AND partnership_idx = #{partnershipIdx}
    </select>

    <select id="isDuplicateMemberByEmail" resultType="boolean">
        SELECT COUNT(*) > 0
          FROM partnership_member pm
          JOIN member m ON pm.member_idx = m.idx
         WHERE pm.partnership_idx = #{partnershipIdx}
           AND m.email = #{email}
    </select>

    <select id="existsInvitedMember" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM partnership_invited_member
            WHERE partnership_idx = #{partnershipIdx}
              AND email = #{email}
        )
    </select>

    <insert id="insertInvitedMember" parameterType="PartnershipInvitedMemberVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO partnership_invited_member (
            email,
            partnership_idx,
            invited_by_partnership_member_idx,
            member_idx,
            partnership_member_idx,
            invited_date,
            joined_date
        )
        VALUES (
           #{email},
           #{partnershipIdx},
           #{invitedByPartnershipMemberIdx},
           #{memberIdx},
           #{partnershipMemberIdx},
           now(),
           #{joinedDate}
       )
    </insert>

    <select id="selectAllByProjectIdx" parameterType="Integer" resultType="PartnershipMemberVO">
        SELECT
            *
        FROM
            project_member pmem
                JOIN partnership_member pm ON pm.idx = pmem.partnership_member_idx
                LEFT JOIN member m ON m.idx = pm.member_idx
        WHERE
            pmem.project_idx = #{projectIdx}
    </select>

    <update id="updatePositionIdxAndPhoneByIdx">
        UPDATE partnership_member
        <set>
            <if test="positionIdx != null">
                partnership_position_idx = #{positionIdx},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
        </set>
         WHERE idx = #{idx}
    </update>

</mapper>