<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
public class LicensePartnershipVO {
    private Integer idx;
    private Integer partnershipIdx;
    private Integer licenseIdx;
    private Integer billingDay;
    private LocalDate periodStartDate;
    private LocalDate periodEndDate;
    private LocalDate nextBillingDate;
    private Integer currentSeatCount;
    private BigDecimal currentUnitPrice;
    private Integer currentMinUserCount;
    private Boolean cancelAtPeriodEnd;
    private String stateCd;
    private ZonedDateTime updateDate;
    private ZonedDateTime createDate;
}

-->
<mapper namespace="com.illunex.emsaasrestapi.license.mapper.LicensePartnershipMapper">

    <insert id="insertByLicensePartnership" parameterType="LicensePartnershipVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO license_partnership(
            partnership_idx,
            license_idx,
            billing_day,
            period_start_date,
            period_end_date,
            next_billing_date,
            current_seat_count,
            current_unit_price,
            current_min_user_count,
            cancel_at_period_end,
            state_cd,
            create_date,
            update_date
        ) VALUES (
            #{partnershipIdx},
            #{licenseIdx},
            #{billingDay},
            #{periodStartDate},
            #{periodEndDate},
            #{nextBillingDate},
            #{currentSeatCount},
            #{currentUnitPrice},
            #{currentMinUserCount},
            #{cancelAtPeriodEnd},
            #{stateCd},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- TODO EnumCode -->
    <select id="selectIdxsByNextBillingDateToday" resultType="int">
        SELECT lp.idx
        FROM license_partnership lp
        WHERE lp.state_cd IN ('LPS0002','LPS0003')
          AND lp.next_billing_date = CURRENT_DATE()
    </select>

    <!-- MySQL 8: SELECT ... FOR UPDATE -->
    <select id="selectByIdxForUpdate" parameterType="int" resultType="LicensePartnershipVO">
        SELECT
            *
        FROM license_partnership
        WHERE idx = #{idx}
            FOR UPDATE
    </select>

    <update id="updatePeriod" parameterType="LicensePartnershipVO">
        UPDATE license_partnership
        SET period_start_date = #{periodStartDate},
            period_end_date   = #{periodEndDate},
            next_billing_date = #{nextBillingDate},
            update_date       = CURRENT_TIMESTAMP
        WHERE idx = #{idx}
    </update>

    <select id="selectByPartnershipIdx" resultType="LicensePartnershipVO">
        SELECT
            *
        FROM license_partnership
        WHERE partnership_idx = #{partnershipIdx}
          AND state_cd = 'LPS0002'
        ORDER BY create_date DESC
        LIMIT 1
    </select>

    <select id="selectByIdx" resultType="LicensePartnershipVO">
        SELECT
            *
        FROM license_partnership
        WHERE idx = #{idx}
    </select>

    <update id="updateByLicensePartnershipVO">
        UPDATE license_partnership
        SET
            license_idx         = #{licenseIdx},
            period_start_date    = #{periodStartDate},
            period_end_date      = #{periodEndDate},
            next_billing_date   = #{nextBillingDate},
            current_seat_count   = #{currentSeatCount},
            current_unit_price   = #{currentUnitPrice},
            current_min_user_count = #{currentMinUserCount},
            state_cd             = #{stateCd},
            update_date          = CURRENT_TIMESTAMP
        WHERE idx = #{idx}
    </update>

</mapper>