<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.license.mapper.LicenseMapper">

    <select id="selectByIdx" parameterType="int" resultType="LicenseVO">
        SELECT
            *
        FROM license
        WHERE idx = #{idx}
    </select>

    <select id="selectAllByActive" resultType="LicenseVO">
        SELECT
            *
        FROM license
        WHERE active = true
    </select>

    <select id="selectByPlanCdAndActive" resultType="LicenseVO">
        SELECT
            *
        FROM license
        WHERE plan_cd = #{code}
          AND active = true
    </select>

</mapper>
