<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.license.mapper.LicensePartnershipMapper">

    <insert id="insertByLicensePartnership" parameterType="LicensePartnershipVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO license_partnership(
           license_idx,
           partnership_idx,
           state_cd,
           start_date,
           end_date,
           pause_date,
           update_date,
           create_date
        ) VALUES (
            #{licenseIdx},
            #{partnershipIdx},
            #{stateCd},
            #{startDate},
            #{endDate},
            #{pauseDate},
            now(),
            now()
        )
    </insert>

    <!-- TODO EnumCode -->
    <select id="selectIdxsByNextBillingDateToday" resultType="int">
        SELECT lp.idx
        FROM license_partnership lp
        WHERE lp.state_cd IN ('LPS0002','LPS0003')
          AND lp.next_billing_date = CURRENT_DATE()
    </select>

    <!-- MySQL 8: SELECT ... FOR UPDATE -->
    <select id="selectByIdxForUpdate" parameterType="int" resultType="LicensePartnershipVO">
        SELECT
            *
        FROM license_partnership
        WHERE idx = #{idx}
            FOR UPDATE
    </select>

    <update id="updatePeriod" parameterType="LicensePartnershipVO">
        UPDATE license_partnership
        SET period_start_date = #{periodStartDate},
            period_end_date   = #{periodEndDate},
            next_billing_date = #{nextBillingDate},
            update_date       = CURRENT_TIMESTAMP
        WHERE idx = #{idx}
    </update>

</mapper>