<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.member.mapper.LoginHistoryMapper">

    <insert id="insertLoginHistory" parameterType="MemberLoginHistoryVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO member_login_history(
           member_idx,
           browser,
           platform,
           ip,
           create_date
        ) VALUES (
            #{memberIdx},
            #{browser},
            #{platform},
            #{ip},
            now()
        )
    </insert>


</mapper>