<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>회원가입 완료</title>
</head>
<body style="height: 100%; margin: 0; padding: 0; font-family: 'Noto Sans KR',sans-serif;">
<table cellpadding="0" cellspacing="0" width="100%"  bgcolor="#f8f8f8">
    <tr>
        <!--카드 내부 영역-->
        <td>
            <table
                    align="center"
                    cellpadding="0"
                    cellspacing="0"
                    width="600"
                    bgcolor="#ffffff"
                    style="margin: 200px auto;  border-radius: 20px; overflow: hidden; border: 1px solid #e4e4e4;"
            >
                <!--header-->
                <tr>
                    <td style="display: inline-block;">
                        <img src="https://illunex-em-saas.s3.ap-northeast-2.amazonaws.com/em-logo.png"
                             alt="로고이미지" width="60" height="60" style="display: block"/>
                    </td>
                    <td style="display: inline-block; font-family:'Open Sans',sans-serif; font-size: 24px; font-weight: 700; letter-spacing: -0.96px; padding: 0 16px;">
                        Effectmall
                    </td>
                </tr>
                <!--contents-->
                <tr>
                    <td style="display: block; padding: 0 40px; margin: 0 auto;">
                        <table
                                align="center"
                                cellpadding="0"
                                cellspacing="0"
                                style="border-collapse: collapse;"
                        >
                            <tr>
                                <td align="center"
                                    style="font-size: 24px; font-weight: 700; letter-spacing: -0.72px; line-height:140%; margin: 40px 0; display: block;">
                                    Effectmall에 오신 것을 환영합니다.
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="margin:0 0 40px 60px; display: block;">
                                    <img src="https://illunex-em-saas.s3.ap-northeast-2.amazonaws.com/em-network.png"
                                         alt="관계망" width="456" height="266"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" style="width: 440px; background:#F4F4F4; border-radius: 8px; padding: 20px 40px; display: block; ">
                                    <table
                                            width="100%"
                                            cellpadding="0"
                                            cellspacing="0"
                                            style="border-collapse: collapse;"
                                    >
                                        <tr>
                                            <td style="display:block; text-align:center; font-size: 16px; font-weight: 700; letter-spacing: -0.48px; line-height: 140%; margin-bottom: 12px">안녕하세요 ${NAME}님</td>
                                            <td style="display:block; text-align:center; font-size: 16px; font-weight: 400; letter-spacing: -0.48px; line-height: 140%;">
                                                Effectmall을 통해 다양한 분석으로 <br/>
                                                고객의 Needs를 파악하고, 고객 관점을 다각도로 조망해 <br/>
                                                그들의 잠재적인 요구를 신속히 파악하기 바랍니다.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--footer-->
                <tr>
                    <td align="center" style="padding: 40px 40px 60px">
                        <p style="width: 130px; height: 40px; line-height: 40px; background: #000; border-radius: 4px; margin: 0; display: block">
                            <a href="${URL}"
                               style="text-decoration: none; color: #ffffff; font-size: 16px; font-weight: 400;">시작하기</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>