<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.illunex.emsaasrestapi.common.code.mapper.CodeMapper">

    <select id="selectAll" resultType="CodeVO">
        SELECT code,
               first_code,
               second_code,
               third_code,
               code_value,
               seq
          FROM code
    </select>
</mapper>