<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
@Getter
@Setter
@Alias("SubscriptionChangeEventVO")
public class SubscriptionChangeEventVO {
    private Integer idx;
    private Integer licensePartnershipIdx;
    private ZonedDateTime occurredDate;
    private String typeCd;
    private Integer qtyDelta;
    private Integer fromLicenseIdx;
    private Integer toLicenseIdx;
    private String note;
    private String meta;
    private String createDate;
}
-->
<mapper namespace="com.illunex.emsaasrestapi.payment.mapper.SubscriptionChangeEventMapper">

    <select id="selectByLpAndOccurredBetween" resultType="com.illunex.emsaasrestapi.payment.vo.SubscriptionChangeEventVO">
        SELECT
            *
        FROM subscription_change_event
        WHERE license_partnership_idx = #{lpIdx}
        AND occurred_date >= #{start}
        AND occurred_date <![CDATA[<]]>  #{end}
        ORDER BY occurred_date ASC, idx ASC
    </select>

    <select id="selectLastOneByLpAndOccurredBetweenAndTypeCd" resultType="com.illunex.emsaasrestapi.payment.vo.SubscriptionChangeEventVO">
        SELECT
            *
        FROM subscription_change_event
        WHERE license_partnership_idx = #{lpIdx}
          AND occurred_date >= #{start}
          AND occurred_date <![CDATA[<]]>  #{end}
          AND type_cd = #{typeCd}
        ORDER BY occurred_date ASC, idx ASC
        LIMIT 1
    </select>

    <select id="selectByLicensePartnershipIdxAndOccurredDate" resultType="SubscriptionChangeEventVO">
        SELECT
            *
        FROM subscription_change_event
        WHERE license_partnership_idx = #{licensePartnershipIdx}
          AND occurred_date >= #{startDate}
          AND occurred_date <![CDATA[<]]>  #{endDate}
    </select>

    <insert id="insertBySubscriptionChangeEventVO" parameterType="SubscriptionChangeEventVO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO subscription_change_event (
            license_partnership_idx,
            occurred_date,
            type_cd,
            qty_delta,
            from_license_idx,
            to_license_idx,
            note,
            meta,
            create_date
        ) VALUES (
            #{licensePartnershipIdx},
            #{occurredDate},
            #{typeCd},
            #{qtyDelta},
            #{fromLicenseIdx},
            #{toLicenseIdx},
            #{note},
            #{meta},
            NOW()
        )
    </insert>

</mapper>